
name: Build Ink Verifier Alpha Image
on:
  workflow_dispatch:

env:
  IMAGE_NAME: ink-verifier

jobs:
  build:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set Version
      run: |
        # Strip git ref prefix from version
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        # Strip "v" prefix from tag name
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
        # Use alpha tag for testing
        VERSION=alpha
        # Append var to GITHUB_ENV
        echo "VERSION=${VERSION}" >> $GITHUB_ENV
    - name: Build the Docker image
      run: |
          docker build . --file Dockerfile --tag ink-verifier:alpha
    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

    - name: Push image
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
        # Change all uppercase to lowercase
        IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
        echo IMAGE_ID=$IMAGE_ID
        echo VERSION=$VERSION
        docker tag ink-verifier ghcr.io/web3labs/ink-verifier:alpha
        docker push ghcr.io/web3labs/ink-verifier:alpha
